<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>


<div class="container">

    <div class="row">

        <div class="col-md-10" style="background-color: orange; color: white">

            <div th:if="${findone} != null ">
                <h2 th:text="${findone.id}"></h2>
                <h2 th:text="${findone.username}"></h2>
                <h2 th:text="${findone.gender}"></h2>
                <h2 th:text="${findone.bio}"></h2>
            </div>


        </div>


        <div class="col-md-10">
            <table class="table table-dark">


                <thead>
                    <tr>
                        <th scope="col"> ID</th>
                        <th scope="col"> Username</th>
                        <th scope="col"> Gender</th>
                        <th scope="col"> Bio </th>

                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:text="${user.bio}"></td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>